.bg-custom {
    background-color: #a29d9d;
    font-family: 'Quicksand', sans-serif;
    height: 80px;
    color: black;
  }
  
  .navbar-nav {
    order: 2;
    margin-left: auto;
    font-size: 20px;
    
  }
  .navbar-nav li.nav-item:hover a.nav-link {
    color: #462b8c;
  }
  
  .navbar-toggler {
    background-color: #a29d9d;
  }
  
  html body {
    background-color: #d9cdcd;
  }
  
  @media (max-width: 1000px) {
    .navbar-nav {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 10px;
      background-color: #a29d9d;
      z-index: 1;
    }
  
    .navbar-nav .nav-item {
      display: block;
    }
  
    .navbar-nav .nav-item .nav-link {
      color: black;
    }
  }

  .profile-image {
    margin-top: 40px;
    width: 300px;
  }

  .profile-box {
    border: 1px solid #ddd;
    background-color:#7e7777;
    color: white;
    padding: 20px;
    font-family: 'Quicksand', sans-serif;
    max-width: 380px; /* Ajuste o valor de acordo com suas preferências */
    margin: 0 auto; /* Alinha a caixa horizontalmente no centro */
    text-align: center;
    margin-top: 20px;
  }
  .profile-box-ingles {
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    padding: 20px;
    font-family: 'Quicksand', sans-serif;
    max-width: 380px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .footer {
    background-color: #f2f2f2;
    padding: 30px;
    margin-top: 40px;
    text-align: center;
  }
  
  .footer p {
    font-size: 18px;
    margin-bottom: 0;
    font-family: 'Quicksand', sans-serif;
  }
  
  .footer ul {
    list-style: none;
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin-bottom: 0;
  }
  
  .footer ul li {
    display: inline-block;
    margin-left: 10px;
    
  }

  .footer ul li a:hover {
    color: #30186c;
  }
  
  .footer ul li a {
    text-decoration: none;
    color: #666666;
    font-size: 18px;
  }
  

  
  
  
  
  
  
  
  
  
  
  
  